$menuText:#fff;
$menuActiveText:#fff;
$subMenuActiveText:#fff;

$menuBg:#215EBE;
$menuHover:rgba(255,255,255,0.36);

$subMenuBg: rgba(255,255,255,0.36);
$subMenuHover:rgba(255,255,255,0.26);

$sideBarWidth: 240px;

$elButtonBg:#215EBE;
$elButtonBgActive: #417BD6;
$elButtonDanger: #D44949;
$elButtonSuccess: #2AA467;
$elButtonWarning: #E6A23C;

$textBg: #DEE7F5;
