$pointBackground: #fafafa;
.print-wrapper{
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}
.print-wrap-table{
    $tableBorderColor: #666;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid $tableBorderColor;
    border-collapse: collapse;
    tbody > tr > td,thead > tr > th{
        // border: 1px solid $tableBorderColor;
        border-width: 0;
        background-image: linear-gradient($tableBorderColor,$tableBorderColor),linear-gradient($tableBorderColor,$tableBorderColor);
        background-repeat: no-repeat;
        background-position: 100% 0,100% 100%;
        background-size: 1px 100%, 100% 1px;
        table{
            td,th{
                border-width: 0;
                background-color: #fff;
                background-image: linear-gradient($tableBorderColor,$tableBorderColor),linear-gradient($tableBorderColor,$tableBorderColor);
                background-repeat: no-repeat;
                background-position: 100% 0,100% 100%;
                background-size: 1px 100%, 100% 1px;
            }
        }
    }

    thead{
        background-image: linear-gradient($tableBorderColor,$tableBorderColor),linear-gradient($tableBorderColor,$tableBorderColor);
        background-repeat: no-repeat;
        background-position: 0 0,0 0;
        background-size: 1px 100%, 100% 1px;
        background-color: $pointBackground;
    }
    & > tbody > tr,& > tbody > tr > td{
        padding: 0;
        border: 0;
    }
    .print-wrap-header{
        position: relative;
        h1{
            padding: 10px 0;
            height: 30px;
            font-size: 20px;
            font-weight: bold;
            color: #111;
            text-align: center;
            line-height: 30px;
            box-sizing: content-box;
        }
        .fix-button{
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
    }
    .print-wrap-content{
        padding-left: 1px;
        background-image: linear-gradient($tableBorderColor,$tableBorderColor);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 1px 100%;
    }

    .details-table{
        width: 100%;
        border-collapse: collapse;
        td,th{
            font-size: 12px;
            padding: 0 12px;
            box-sizing: border-box;
            word-break: break-all;
            line-height: 1.5;
        }
        .details-label{
            display: inline-block;
            text-align: right;
            white-space: nowrap;
        }
        tr{
            height: 40px;
        }
        .details-title{
            height: 46px;
            background: $pointBackground;
            td{
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }
        }
        .h1{
            height: 80px;
        }
        .h2{
            height: 120px;
        }

        .center{
            text-align: center;
        }
        .average td{
            width: 33%;
        }
        .c1{
            width: 15%;
        }
        .c2{
            width: 30%;
        }

        .cell-input{
            margin: 10px 0;
        }
        .pt{
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .vm-rate-icon-custome:before{
            content: '\E904';
        }
    }

    .t-center{
        text-align: center;
    }
    .t-left{
        text-align: left;
    }
    .point-bg{
        background-color: #fafafa;
    }

    .sign-link{
        color: #215EBE;
        cursor: pointer;
    }
    .sign-img-con{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        margin: 5px;
    }
    .sign-img{
        max-width: 100%;
        max-height: 100px;
    }

    .vm-rate__icon{
        margin-right: 12px;
        font-size: 15px !important;
    }

    .cell-table{
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        border: 0;
        tr{
            border: 0;
            td:first-child{
                border-left: 0;
            }
            td:last-child{
                border-right: 0;
            }
        }
        tr:nth-of-type(1) td{
            border-top: 0;
        }
        tr:last-child td{
            border-bottom: 0;
        }

        .cell-input{
            margin: 10px 0;
        }
        .cell-td{
            width: 80px;
            text-align: center;
        }
    }
}

@media print{
    .app-main,.main-container,.container{
        height: unset!important;
        margin: 0!important;
        padding: 0!important;
        background: #fff!important;
    }
    .print-wrap-table{
        width: 180mm;
        max-width: unset;
        margin: 0 auto;
        page-break-after: auto;
        thead{
            .print-wrap-header h1{
                margin: 0;
                height: 40px;
                line-height: 40px;
            }
        }
        .details-table{
            tr{
                height: 30px!important;
            }
            .details-title{
                height: 40px!important;
            }
            .h1{
                height: 60px!important;
            }
            .h2{
                height: 100px!important;
            }
        }
    }
}
