$systemColor: var(--el-color-primary, #215ebe);
$systemGrey: var(--el-color-info-light-8, #f1f2f6);
$margin: 16px;
$margin16: 16px;
$padding: 16px;
$systemRed: var(--el-color-danger, #d44949);
$navbarHeight: 44px;
