$systemColor: var(--el-color-primary, #215ebe);
$systemGrey: var(--el-color-info-light-8, #f1f2f6);
$margin: 16px;
$margin16: 16px;
$padding: 16px;
$systemRed: var(--el-color-danger, #d44949);
$navbarHeight: 44px;

$systemDefaultColor:#215ebe ;
$systemDefaultColor_grey:#f8f8fa;
$defaultMarginWidth:16px;

$headHeight: 70px;
$scheculerHeight: calc(100vh - 20px);
$scBodyWarpWidth: 100%;
$scResourcesColumnWidth: 200px;
$borderColor: #e6e6e6;
